# begin
snippet beg
	\begin{${1:env}}
		${2}
	\end{$1}
# description
snippet desc
	\begin{description}
		\item[${1}] ${2}
	\end{description}
# enumerate
snippet enum
	\begin{enumerate}
		\item ${1}
	\end{enumerate}
# itemize
snippet item
	\begin{itemize}
		\item ${1}
	\end{itemize}
# tabular
snippet tab
	\begin{${1:tabular}}{${2:c}}
	${3}
	\end{$1}
